.about {
  @include margin-auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  width: 64%;
  min-width: 1000px;

  &::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 0;
    width: 220px;
    height: 317px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-image: url("../img/2005.png");
  }
}

.about__text {
  margin-left: 210px;
  width: 80%;
  color: $dark-grey;
  z-index: 1;
}

.about__text h2 {
  @include roboto-condensed(400);
  font-size: 36px;
  line-height: 51px;
  margin-top: 0;
  margin-bottom: 20px;
}

.about__text p {
  @include pt-mono;
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 23px;
}

.about__button {
  margin-top: 38px;
  width: 180px;
}

//
@media (max-width: $tablet-max-width) {
  .about {
    min-width: 720px;
    width: 93.75%;

    &::before {
      top: 5px;
      left: -30px;
      width: 251px;
      height: 362px;
    }
  }

  .about__text {
    margin-left: 185px;
    min-width: 532px;
    width: 73.9%;
  }

  .about__text h2 {
    font-size: 32px;
    line-height: 45px;
    margin-top: 7px;
    margin-bottom: 24px;
  }

  .about__text p {
    margin-left: 3px;
    margin-bottom: 20px;
  }

  .about__text p:last-of-type span {
    display: none;
  }

  .about__button {
    margin-top: 40px;
    margin-left: 3px;
  }
}

//
@media (max-width: $mobile-max-width) {
  .about {
    padding-bottom: 25px;
    min-width: 290px;
    width: 90.63%;

    &::before {
      display: none;
    }
  }

  .about__text {
    margin-left: 0;
    margin-bottom: 40px;
    min-width: 290px;
    width: 90.63%;
  }

  .about__text h2 {
    font-size: 28px;
    line-height: 45px;
    margin-bottom: 19px;
  }

  .about__text p {
    margin-left: 2px;
    margin-bottom: 40px;
  }

  .about__text p:last-of-type {
    margin-bottom: 17px;
  }

  .about__button {
    margin-top: 27px;
  }
}
