.about {
  @include margin-auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  width: 64%;
  min-width: 1024px;
}

.year-wrapper {
  display: flex;
  margin-top: 5px;
  background-image: url("/img/electronic_background.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.year-wrapper div {
  @include roboto-condensed(700);
  font-size: 156px;
  color: $black;
  background: $white;
  mix-blend-mode: lighten;
  writing-mode: tb-rl;
  transform: rotate(180deg);
}

.about__text {
  margin-left: 2.44%;
  width: 80%;
  color: $dark-grey;
}

.about__header {
  @include roboto-condensed(400);
  font-size: 36px;
  line-height: 51px;
  margin-top: 0;
  margin-bottom: 20px;
}

.about__text p {
  @include pt-mono;
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 23px;
}

.button--about {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $cyan;
  text-transform: uppercase;
  margin-top: 15px;
  width: 180px;
  height: 45px;
  border: 1px solid $cyan;
  border-radius: 5px;
  background-color: $white;
  cursor: pointer;
}

.about--about:hover {
  opacity: 0.5;
}

//
@media (max-width: $tablet-max-width) {
  .about {
    min-width: 720px;
    width: 93.75%;
  }

  .year-wrapper {
    margin-left: -30px;
  }

  .year-wrapper div {
    font-size: 178px;
  }

  .about__text {
    margin-left: 12px;
    min-width: 532px;
    width: 73.9%;
  }

  .about__header {
    font-size: 32px;
    line-height: 45px;
    margin-top: 7px;
    margin-bottom: 24px;
  }

  .about__text p {
    margin-left: 3px;
    margin-bottom: 20px;
  }

  .button--about {
    margin-top: 21px;
    margin-left: 3px;
  }
}

//
@media (max-width: $mobile-max-width) {
  .about {
    padding-bottom: 25px;
    min-width: 290px;
    width: 90.63%;
  }

  .year-wrapper {
    display: none;
  }

  .about__text {
    margin-left: 0;
    margin-bottom: 40px;
    min-width: 290px;
    width: 90.63%;
  }

  .about__header {
    font-size: 28px;
    line-height: 45px;
    margin-bottom: 19px;
  }

  .about__text p {
    margin-left: 2px;
    margin-bottom: 40px;
  }

  .about__text p:last-of-type {
    margin-bottom: 17px;
  }

  .button--about {
    margin-top: 10px;
  }
}
