.advantages-about-wrapper {
  padding-top: 109px;
  background: url("/img/left_small_reactangle.png") 15% 5% no-repeat,
    url("/img/right_big_reactangle.png") center center no-repeat,
    url("/img/left_big_reactangle.png") -5% 100% no-repeat,
    url("/img/right_small_reactangle.png") 95% center no-repeat;
  background-size: auto, auto, auto, auto;
  padding-bottom: 98px;
}

@media (max-width: $tablet-max-width) {
  .advantages-about-wrapper {
    padding-top: 54px;
    padding-bottom: 76px;
  }
}

@media (max-width: $mobile-max-width) {
  .advantages-about-wrapper {
    padding-top: 37px;
    padding-bottom: 0;
  }
}
