.advantages {
  @include margin-auto;
  margin-bottom: 75px;
  min-width: 1000px;
  width: 60.94%;
  max-width: 1500px;
}

//
@media (max-width: $tablet-max-width) {
  .advantages {
    margin-bottom: 20px;
    width: 93.75%;
    min-width: 720px;
  }
}

//
@media (max-width: $mobile-max-width) {
  .advantages {
    margin-bottom: 28px;
    width: 90.63%;
    min-width: 290px;
  }
}
