.form {
  @include margin-auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 91px;
  min-width: 970px;
  width: 63.54%;
  max-width: 1500px;

  &::before {
    content: "";
    position: absolute;
    top: 161px;
    left: 0;
    width: 511px;
    height: 288px;
    background-image: url("../img/paper_airplane.png");
    background-position: center top;
    background-repeat: no-repeat;
  }
}

//
@media (max-width: $tablet-max-width) {
  .form {
    padding-top: 80px;
    min-width: 591px;
    width: 76.95%;
    max-width: 750px;

    &::before {
      display: none;
    }
  }
}

//
@media (max-width: $mobile-max-width) {
  .form {
    padding-top: 30px;
    min-width: 290px;
    width: 90.64%;
    max-width: 550px;
  }
}
