.form-wrapper {
  padding-bottom: 38px;
  background: url("/img/group_of_two_reactangles_form.png") 15% center no-repeat,
    url("/img/left_small_reactangle_form.png") 95% top no-repeat,
    url("/img/right_big_reactangle_form.png") right center no-repeat;
  background-size: auto, auto, auto;
  background-color: $cyan;
}

@media (max-width: $tablet-max-width) {
  .form-wrapper {
    background-image: none;
  }
}

@media (max-width: $mobile-max-width) {
  .form-wrapper {
    padding-bottom: 41px;
  }
}
