.goods-wrapper {
  background-color: $dark;
  padding-bottom: 98px;
}

@media (max-width: $tablet-max-width) {
  .goods-wrapper {
    padding-bottom: 31px;
  }
}

@media (max-width: $mobile-max-width) {
  .goods-wrapper {
    padding-bottom: 20px;
    min-width: 290px;
  }
}
