.wrapper-goods {
  background-color: $goods-background;
  padding-bottom: 128px;
}

.goods {
  @include margin-auto;
  width: 60.9375%;
  max-width: 1500px;
  min-width: 970px;
  padding-top: 59px;
}

.goods h2 {
  @include roboto-condensed(400);
  font-size: 36px;
  line-height: 51px;
  margin-bottom: 50px;
  color: $goods-text;
}

.goods ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.goods li {
  position: relative;
  width: 31.62393162393162%;
  min-width: 200px;
  min-height: 620px;
  cursor: pointer;
}

.goods li:hover {
  opacity: 0.5;
}

.goods li::before {
  opacity: 0.3;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.production::before {
  background-image: url("/img/goods_background1_desktop.png");
}

.mounting::before {
  background-image: url("/img/goods_background2_desktop.png");
}

.parts::before {
  background-image: url("/img/goods_background3_desktop.png");
}

.goods a {
  @include roboto-condensed(400);
  position: relative;
  display: block;
  height: 100%;
  font-size: 20px;
  line-height: 30px;
  color: $goods-text;
  padding-top: 50px;
}

.goods p {
  width: 170px;
  margin-top: 0;
  margin-left: 44px;
  opacity: 1;
}

.goods div {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 63px;
  height: 63px;
  background-color: $goods-blocks-arrow-background;
  background-image: url("/img/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  font-size: 0;
}

//
@media (max-width: $tablet-max-width) {
  .wrapper-goods {
    padding-bottom: 31px;
  }

  .goods {
    width: 93.75%;
    min-width: 720px;
    padding-top: 23px;
  }

  .goods h2 {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 50px;
    width: 615px;
  }

  .goods li {
    width: 100%;
    min-width: 100%;
    min-height: 256px;
    margin-bottom: 46px;
  }

  .goods a {
    padding-top: 39px;
  }
}

//
@media (max-width: $mobile-max-width) {
  .wrapper-goods {
    padding-bottom: 20px;
  }

  .goods {
    width: 90.625%;
    min-width: 290px;
    margin-bottom: 13px;
    padding-top: 27px;
  }

  .goods h2 {
    font-size: 28px;
    line-height: 39px;
    margin-left: 10px;
    margin-bottom: 43px;
    width: 95%;
  }

  .goods li {
    margin-bottom: 30px;
  }

  .goods a {
    padding-top: 19px;
  }

  .goods p {
    margin-left: 35px;
  }
}
