.goods {
  @include margin-auto;
  padding-top: 59px;
  min-width: 970px;
  width: 64.1%;
  max-width: 1700px;
}

.goods h2 {
  @include roboto-condensed(400);
  font-size: 36px;
  line-height: 51px;
  margin-left: 30px;
  margin-bottom: 50px;
  color: $white;
}

//
@media (max-width: $tablet-max-width) {
  .goods {
    padding-top: 23px;
    min-width: 720px;
    width: 93.75%;
  }

  .goods h2 {
    font-size: 32px;
    line-height: 45px;
    margin-left: 0;
    width: 615px;
  }
}

//
@media (max-width: $mobile-max-width) {
  .goods {
    margin-bottom: 13px;
    padding-top: 27px;
    min-width: 290px;
    width: 90.63%;
  }

  .goods h2 {
    font-size: 28px;
    line-height: 39px;
    margin-left: 10px;
    margin-bottom: 43px;
    width: 95%;
  }
}
