.top-wrapper {
  padding-top: 33px;
  background: url("/img/header_background.png") center top no-repeat,
    url("/img/group_of_two_reactangles.png") center top no-repeat;
  background-size: cover, auto;
  background-color: $background-color-top-wrapper;
}

header {
  @include margin-auto;
  display: flex;
  flex-direction: row;
  max-width: 1500px;
  width: 73.48958333333333%;
  min-width: 1004px;
}

.logo {
  min-width: 52px;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.5;
}

.name {
  margin-left: 16px;
  cursor: pointer;
  min-width: 134px;

  &-firm {
    @include roboto-condensed(700);
    font-size: 25px;
    line-height: 29px;
    color: $header-text;

    margin: 0;
    margin-top: 6px;
  }

  &-tagline {
    @include roboto;
    font-size: 12px;
    line-height: 14px;
    color: $tagline-text;

    margin: 0;
  }
}

.name:hover {
  opacity: 0.5;
}

.links-wrapper {
  display: flex;
  flex-direction: row;
  width: 46.70446491849752%;
  min-width: 650px;
  margin-left: auto;
}

.mailto,
.phone-number {
  @include pt-mono;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: $header-text;
  cursor: pointer;
}

.mailto {
  min-width: 135px;
}

.mailto span {
  margin-left: 20px;
}

.phone-number {
  min-width: 215px;
  margin-left: 13.3535660091047%;
}

.phone-number span {
  margin-left: 16px;
}

.mailto:hover,
.phone-number:hover {
  opacity: 0.5;
}

header button {
  @include roboto-condensed(700);
  margin-top: 4px;
  margin-left: 40px;
  width: 180px;
  height: 45px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $header-text;
  text-transform: uppercase;
  border: 1px solid $border-button-color;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

header button:hover {
  opacity: 0.5;
}

//
@media (max-width: $tablet-max-width) {
  .top-wrapper {
    padding-top: 20px;
    background: url("/img/header_background.png") center top no-repeat,
      url("/img/group_of_two_reactangles.png") center -130px no-repeat;
    background-size: auto, cover;
    background-color: $background-color-top-wrapper;
  }

  header {
    @include margin-auto;
    display: flex;
    flex-direction: row;
    width: 93.75%;
    min-width: 93.75%;
  }

  .name {
    margin-left: 2.22222222222222%;
  }

  .links-wrapper {
    width: 11.52777777777778%;
    min-width: 11.52777777777778%;
  }

  .mailto,
  .phone-number {
    align-items: flex-start;
  }

  .mailto {
    min-width: 25px;
    margin-top: 13px;
  }

  .phone-number {
    margin-left: auto;
    min-width: 24px;
    margin-top: 12px;
  }

  .mailto span,
  .phone-number span {
    display: none;
  }

  .mailto img {
    width: 25px;
    height: 19px;
  }

  .phone-number img {
    width: 24px;
    height: 24px;
  }

  header button {
    display: none;
  }
}

//
@media (max-width: $mobile-max-width) {
  .top-wrapper {
    padding-top: 17px;
    background: url("/img/header_background.png") center top no-repeat,
      url("/img/group_of_two_reactangles.png") center -130px no-repeat;
    background-size: auto, cover;
    background-color: $background-color-top-wrapper;
    min-width: $mobile-min-width;
  }

  header {
    width: 90%;
    min-width: 288px;
  }

  .logo img {
    width: 38px;
    height: 38px;
  }

  .name {
    display: none;
  }

  .links-wrapper {
    width: 25.34722222222222%;
    min-width: 25.34722222222222%;
    padding-left: 0;
  }

  .mailto {
    margin-top: 9px;
  }

  .phone-number {
    margin-left: 30%;
    margin-top: 5px;
  }
}
