.promo {
  @include margin-auto;
  display: flex;
  flex-direction: row;
  max-width: 1494px;
  width: 73.48958333333333%;
  min-width: 1010px;
  padding-top: 173px;
  //overflow: hidden;
}

.text-block {
  display: flex;
  flex-direction: column;
  color: $promo-text;
  padding-top: 53px;
  margin-left: 38px;
  margin-bottom: 92px;
  margin-right: 71px;

  &_slogan {
    @include roboto-condensed(700);
    width: 718px;
    margin: 0;
    margin-bottom: 30px;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }

  &_text {
    @include pt-mono;
    width: 718px;
    margin: 0;
    position: relative;
    font-size: 22px;
    line-height: 34px;
    padding-left: 96px;
    margin-bottom: 44px;

    &::before {
      position: absolute;
      content: "";
      width: 66px;
      height: 2px;
      left: 2px;
      top: 15px;
      background-color: $decoration-color;
    }
  }
}

.promo button {
  @include roboto-condensed(700);
  margin-left: 96px;
  width: 407px;
  height: 55px;
  margin-bottom: 93px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: $header-text;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: $promo-button-background;
  cursor: pointer;
}

.promo button:hover {
  opacity: 0.5;
}

.promo a {
  @include pt-mono;
  font-size: 14px;
  line-height: 16px;
  margin-left: 2px;
  width: 25px;
  text-decoration: none;
  color: $promo-text;
  opacity: 0.5;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  cursor: pointer;
}

.promo a:hover {
  opacity: 0.25;
}

.promo img {
  min-width: 705px;
  margin-right: -38px;
}

//
@media (max-width: $desktop-min-width) {
  .promo {
    margin-right: 0;
    min-width: 680px;
    width: 88.54166666666667%;
    padding-top: 36px;
    overflow: hidden;
  }

  .text-block {
    padding-top: 75px;
    margin-left: 15px;
    margin-bottom: 70px;
    margin-right: 0;

    &_slogan {
      width: 404px;
      margin: 0;
      margin-bottom: 29px;
      font-size: 60px;
      line-height: 70px;
    }

    &_text {
      @include pt-mono;
      width: 404px;
      margin: 0;
      position: relative;
      font-size: 18px;
      line-height: 156.8%;
      padding-left: 52px;
      margin-bottom: 55px;

      &::before {
        position: absolute;
        content: "";
        width: 33px;
        height: 2px;
        left: 4px;
        top: 16px;
        background-color: $decoration-color;
      }
    }
  }

  .promo button {
    @include roboto-condensed(700);
    margin-left: 51px;
    width: 379px;
    margin-bottom: 93px;
  }

  .promo a {
    display: none;
  }

  .promo img {
    margin-left: -7px;
    min-width: 465px;
    height: 340px;
  }
}
