@mixin roboto-condensed($property) {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: $property;
}

@mixin roboto {
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-weight: 500;
}

@mixin pt-mono {
  font-family: "PT Mono", "Courier New", monospace;
}

@mixin zero-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}
