//sizes
$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-max-width: 1023px;

//color scheme
$black: #000000;
$cyan: #00b2ff;
$white: #ffffff;
$darker-white: #ebebeb;
$light-grey: #fafafa;
$dark-light-grey: #c4c4c4;
$grey: #788891;
$light-dark-grey: #626962;
$dark-grey: #666666;
$dark: #1b2d37;
$dark-blue: #203c42;

$background-color-top-wrapper: $dark;
$header-text: $white;
$tagline-text: $grey;

$border-button-color: $white;

$promo-text: $white;
$decoration-color: $white;
$promo-button-background: $cyan;

$advantages-block-borders: $darker-white;
$advantages-block-vertical-line: $cyan;
$advantages-block-header: $cyan;
$advantages-block-text: $dark-grey;
$advantages-block-icon: $cyan;
$hover-advantages-block-background: $cyan;
$hover-advantages-block-icon: $white;
$hover-advantages-block-header: $white;
$hover-advantages-block-text: $white;

$about-text: $dark-grey;
$about-button-text: $cyan;
$about-button-border: $cyan;
$about-button-background: $white;


$footer-background: $light-grey;
$footer-logo-text: $dark-blue;
$footer-heading: $dark;
$footer-main-text: $dark;
$footer-line: $light-dark-grey;
$footer-icon: $dark-light-grey;
