//sizes
$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-max-width: 1023px;

//color scheme
$cyan: #00b2ff;
$white: #ffffff;
$grey: #788891;
$dark-grey: #666666;
$dark: #1b2d37;
$dark-blue: #203c42;

$background-color-top-wrapper: $dark;
$header-text: $white;
$tagline-text: $grey;

$border-button-color: $white;

$promo-text: $white;
$decoration-color: $white;
$promo-button-background: $cyan;
