//sizes
$mobile-min-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1024px;
$desktop-width: 1920px;

//color scheme
$cyan: #00b2ff;
$white: #ffffff;
$grey: #788891;
$dark-grey: #666666;
$dark: #1b2d37;
$dark-blue: #203c42;

