.header {
  @include margin-auto;
  display: flex;
  min-width: 1004px;
  width: 73.49%;
  max-width: 1500px;
  color: $white;
}

.header__logo {
  min-width: 52px;
}

.header__logo:hover {
  opacity: 0.5;
}

.header__links {
  margin-left: auto;
}

.header__button {
  margin-top: 4px;
  margin-left: 40px;
  margin-bottom: 6px;
  width: 180px;
}

//
@media (max-width: $tablet-max-width) {
  .header {
    @include margin-auto;
    min-width: 93.75%;
    width: 93.75%;
  }

  .header__button {
    display: none;
  }
}

//
@media (max-width: $mobile-max-width) {
  .header {
    min-width: 288px;
    width: 90%;
  }

  .header__logo img {
    width: 38px;
    height: 38px;
  }
}
