.links {
  display: flex;
  min-width: 650px;
  width: 46.8%;
}

.links__item {
  @include pt-mono;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: currentColor;
}

.links__item:hover {
  opacity: 0.5;
}

.links__item::before {
  position: absolute;
  content: "";
  left: 0;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.links__item--mailto {
  padding-left: 39px;
  min-width: 135px;
}

.links__item--mailto::before {
  top: 20px;
  width: 19px;
  height: 14px;
  background-image: url("../img/envelope.png");
}

.links__item--phone-number {
  margin-left: 13.35%;
  padding-left: 34px;
  min-width: 215px;
}

.links__item--phone-number::before {
  top: 16px;
  width: 18px;
  height: 18px;
  background-image: url("../img/phone-call.png");
}

@media (max-width: $tablet-max-width) {
  .links {
    min-width: 11.53%;
    width: 11.53%;
  }

  .links__item {
    font-size: 0;
    color: transparent;
    align-items: flex-start;
    padding-left: 0;
  }

  .links__item--mailto {
    min-width: 25px;
  }

  .links__item--mailto::before {
    top: 15px;
    width: 25px;
    height: 19px;
  }

  .links__item--phone-number {
    margin-left: auto;
    min-width: 24px;
  }

  .links__item--phone-number::before {
    top: 12px;
    width: 24px;
    height: 24px;
  }
}

@media (max-width: $mobile-max-width) {
  .links {
    padding-left: 0;
    min-width: 25.35%;
    width: 25.35%;
  }

  .links__item--mailto::before {
    top: 8px;
  }

  .links__item--phone-number {
    margin-left: 30%;
  }

  .links__item--phone-number::before {
    top: 4px;
  }
}
