.promo {
  @include margin-auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 1007px;
  width: 81.56%;
  max-width: 1600px;
  padding-top: 170px;
  overflow: hidden;

  &::after {
    position: absolute;
    content: "";
    right: 0;
    top: 170px;
    width: 705px;
    height: 515px;
    background-image: url("/img/electronic_board.png");
    background-color: transparent;
  }
}

.promo-text-block {
  display: flex;
  flex-direction: column;
  color: $white;
  margin-left: 4.6%;
  margin-bottom: 90px;
  padding-top: 56px;
  z-index: 1;
}

.promo-text-block__header {
  @include roboto-condensed(700);
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 28px;
  width: 718px;
}

.promo-text-block__text {
  @include pt-mono;
  font-size: 22px;
  line-height: 34px;
  position: relative;
  margin: 0;
  margin-bottom: 43px;
  padding-left: 96px;
  width: 718px;

  &::before {
    position: absolute;
    content: "";
    top: 15px;
    left: 2px;
    width: 66px;
    height: 2px;
    background-color: $white;
  }
}

.button--promo {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: $white;
  margin-left: 96px;
  margin-bottom: 95px;
  padding-top: 17px;
  padding-bottom: 10px;
  width: 407px;
  min-height: 55px;
  background-color: $cyan;
}

.promo-text-block__scroll {
  @include pt-mono;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: $white;
  margin-left: 2px;
  width: 25px;
  opacity: 0.5;
  writing-mode: tb-rl;
  transform: rotate(180deg);
}

.promo-text-block__scroll:hover {
  opacity: 0.25;
}

//
@media (max-width: $tablet-max-width) {
  .promo {
    margin-right: 0;
    padding-top: 36px;
    min-width: 680px;
    width: 88.54%;

    &::after {
      left: 421px;
      top: 37px;
      width: 465px;
      height: 340px;
      background-size: contain;
    }
  }

  .promo-text-block {
    margin-left: 0;
    margin-bottom: 70px;
    padding-top: 75px;
  }

  .promo-text-block__header {
    font-size: 60px;
    line-height: 70px;
    margin: 0;
    margin-bottom: 29px;
    width: 404px;
  }

  .promo-text-block__text {
    font-size: 18px;
    line-height: 28px;
    padding-left: 52px;
    margin-bottom: 55px;
    width: 404px;

    &::before {
      position: absolute;
      content: "";
      left: 4px;
      top: 16px;
      width: 33px;
      height: 2px;
      background-color: $white;
    }
  }

  .button--promo {
    margin-left: 51px;
    margin-bottom: 93px;
    width: 379px;
  }

  .promo-text-block__scroll {
    display: none;
  }
}

//
@media (max-width: $mobile-max-width) {
  .promo {
    @include margin-auto;
    flex-direction: column-reverse;
    padding-top: 34px;
    min-width: 320px;
    width: 100%;
    max-width: 400px;

    &::after {
      left: 27px;
      top: 33px;
      width: 301px;
      height: 220px;
    }
  }

  .promo-text-block {
    margin-left: 5%;
    margin-top: 190px;
    margin-right: auto;
    margin-bottom: 70px;
    padding-top: 0;
  }

  .promo-text-block__header {
    font-size: 40px;
    line-height: 47px;
    margin: 0;
    margin-top: 3px;
    margin-bottom: 28px;
    width: 277px;
  }

  .promo-text-block__text {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 40px;
    padding-left: 52px;
    width: 293px;
  }

  .button--promo {
    margin-left: 3px;
    margin-bottom: 0;
    width: 287px;
  }
}
