.list-sections {
  @include zero-list;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.list-sections__item:nth-child(odd) {
  margin-right: 65px;
  min-width: 243px;
}

.list-sections__item a {
  text-decoration: none;
  color: $dark;

  &:hover {
    opacity: 0.25;
  }
}

//
@media (max-width: $tablet-max-width) {
  .list-sections {
    flex-direction: column;
  }
}
