.social {
  min-width: 226px;
  width: 29.85%;
}

.social__logo-footer {
  display: flex;
  margin-bottom: 50px;
  padding-right: 10px;
}

.social__year {
  display: none;
}

//
@media (max-width: $tablet-max-width) {
  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
    padding-bottom: 26px;
    min-width: 100%;
    width: 100%;
  }

  .social__logo-footer {
    margin-bottom: 0;
    padding-right: 0;
  }

  .social__year {
    @include pt-mono;
    display: block;
    font-size: 13px;
    line-height: 24px;
    opacity: 0.5;
    letter-spacing: 0.04em;
    color: $dark;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    min-width: 233px;
    align-self: center;
  }
}

//
@media (max-width: $mobile-max-width) {
  .social {
    flex-direction: column;
    margin-bottom: 22px;
  }

  .social__logo-footer {
    @include margin-auto;
    margin-bottom: 22px;
    width: 216px;
  }

  .social__year {
    @include margin-auto;
    margin-bottom: 32px;
  }
}
